#!/bin/rc
# Runs ON the 9front VM (sent by build-pcboot.sh through rcpu).
# $hostsrc   the source tree on the host, as seen through drawterm's /mnt/term
# $hostbuild the host directory that receives the results
# Nothing outside /usr/glenda/pcboot-build is modified: the subset tree is
# bound over /sys/src/9 in a private namespace, system tools/libs are used as is.
rfork n
d=/usr/glenda/pcboot-build
rm -rf $d
mkdir -p $d

echo '### copy sources from the host'
dircp $hostsrc $d
bind -b $d/sys/include /sys/include
bind -b $d/amd64/include /amd64/include
bind $d/sys/src/9 /sys/src/9

echo '### kernel: mk CONF=pcboot'
cd /sys/src/9/pc64
time mk 'CONF=pcboot' 'IPFILES=noip' >$d/kernel.log >[2=1]
echo kernel mk status: $status
tail -6 $d/kernel.log
cp $d/kernel.log $hostbuild/kernel.log
if(test -f 9pcboot) {
	size 9pcboot
	md5sum 9pcboot
	cp 9pcboot $hostbuild/9pcboot
}

echo '### loader: mk bootx64.efi'
cd $d/sys/src/boot/efi
mk bootx64.efi >$d/loader.log >[2=1]
echo loader mk status: $status
cp $d/loader.log $hostbuild/loader.log
if(test -f bootx64.efi) {
	md5sum bootx64.efi
	cp bootx64.efi $hostbuild/bootx64.efi
}
echo BUILD-DONE
